@charset "UTF-8";

/*-----------------
    l-header
-----------------*/
.l-header {
    margin: 64px auto 40px;
    text-align: center;
}

/*-----------------
    l-main
-----------------*/
.l-main {
    margin: 0 auto;
}

/*-----------------
    p-pickUp
-----------------*/
.p-pickUp {
    width: 60%;
    max-width: 770px;
    margin: 0 auto 96px;
}

.p-pickUp__body {
    padding: 28px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 12px 12px #ccccff;
}

.p-pickUp__description {
    font-size: 14px;
    margin-bottom: 8px;
}

.p-pickUp__spec {
    margin-bottom: 24px;
}

.p-pickUp__spec-item {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    background-color: #eee;
}

.p-pickUp__price {
    font-size: 16px;
}

.p-pickUp__tag {
    margin-top: 8px;
}

/*-----------------
    p-new
-----------------*/
.p-new {
    max-width: 1200px;
    margin: 0 auto 160px;
}

.p-new__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-new__item {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 8px 8px #7fe6a8;
}

.p-new__item:nth-child(n+5) {
    margin-bottom: 0;
}

.p-new__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*-----------------
    component
-----------------*/
 .c-button {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    background-color: #eee;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
 }

.c-button:hover {
    background-color: #000;
    color: #fff;
}

.c-label {
    display: inline-block;
    margin-bottom: 16px;
    padding: 1px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
}

.c-label--purple {
    background-color: #8c97ff;
}

.c-label--green {
    background-color: #7fe6a8;
    padding: 1px 10px;
}

.c-icon {
    margin-left: 5px;
}

.c-image {
    display: block;
}

.c-image--main {
    margin: 0 auto 28px;
}

.c-tag {
    font-size: 14px;
    color: #8c97ff;
}

.c-text--small {
    font-size: 12px;
}

.c-text--price {
    font-size: 16px;
}

.c-title {
    font-size: 24px;
    font-weight: bold;
}

.c-title--medium {
    font-size: 18px;
    margin-bottom: 12px;
}

.c-title--small {
    font-size: 12px;
    font-weight: normal;
}