@charset "UTF-8";

/*-----------------
    l-header
-----------------*/
.l-header {
    margin: 64px auto 40px;
    text-align: center;
}

/*-----------------
    l-main
-----------------*/
.l-main {
    margin: 0 auto;
}

/*-----------------
    p-pickUp
-----------------*/
.p-pickUp {
    width: 60%;
    margin: 0 auto 96px;
}

.p-pickUp__body {
    padding: 28px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 12px 12px #ccccff;
}

.p-pickUp__description {
    font-size: 14px;
    margin-bottom: 8px;
}

.p-pickUp__spec {
    margin-bottom: 24px;
}

.p-pickUp__spec-item {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    background-color: #eee;
}

.p-pickUp__price {
    font-size: 16px;
}

.p-pickUp__tag {
    margin-top: 8px;
}

/*-----------------
    p-new
-----------------*/
.p-new {
    max-width: 1200px;
    margin: 0 auto 96px;
}

.p-new__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-new__item {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 8px 8px #7fe6a8;
}

.p-new__item:nth-child(n+5) {
    margin-bottom: 0;
}

.p-new__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*-----------------
    p-sale
-----------------*/
.p-sale {
    max-width: 1200px;
    margin: 0 auto 64px;
}

.p-sale__list {
  display: flex;
  overflow-x: auto;
  padding-right: 20px;
}

.p-sale__item {
  margin: 0 36px 20px 0;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 8px 8px #fff48c;
}

.p-sale__item:last-child {
  margin-right: 0;
}

.p-sale__thumb {
    position: relative;
    margin-bottom: 20px;
}

.p-sale__thumb--soldOut::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    pointer-events: none;
}

/*-----------------
    component
-----------------*/
 .c-button {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    background-color: #eee;
    border-radius: 15px;
    cursor: pointer;
 }

.c-label {
    display: inline-block;
    margin-bottom: 16px;
    padding: 1px 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 15px;
}

.c-label--purple {
    background-color: #8c97ff;
}

.c-label--green {
    background-color: #7fe6a8;
    padding: 1px 10px;
}
.c-label--yellow {
    background-color: #ffe070;
    padding: 1px 10px;
}

.c-icon {
    margin-left: 5px;
}

.c-image {
    display: block;
}

.c-image--main {
    margin: 0 auto 28px;
}

.c-sticker--red {
    position: absolute;
    top: -12px;
    left: -6px;
    padding: 2px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #fb5b55;
    z-index: 1;
}

.c-tag {
    font-size: 14px;
    color: #8c97ff;
}

.c-text--small {
    font-size: 12px;
}

.c-text--price {
    font-size: 16px;
}

.c-text--sale {
    margin-bottom: 12px;
    color: #fb5b55;
    font-weight: bold;
}

.c-text--soldout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.c-title {
    font-size: 24px;
    font-weight: bold;
}

.c-title--medium {
    font-size: 18px;
    margin-bottom: 12px;
}

.c-title--small {
    font-size: 12px;
    font-weight: normal;
}

.c-title--sale {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: normal;
}